@model PetHotel.Models.OrderItem

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>OrderItem</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Invoice.InvoiceId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Invoice.InvoiceId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Spiece)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Spiece)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Petname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Petname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Arrival)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Arrival)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Departure)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Departure)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PricePerDay)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PricePerDay)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumberOfDays)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumberOfDays)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.OrderItemID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
